body{
    font-family: Arial;
}
header{
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 120px;
}
nav{
    width: 30%;
    background-color: #B7B7B7;
}
#logo{
height: 80px;
width: 320px
}